<div class="icon-wrapper">
    <slot style="stroke:red;"class="button-svg"/>
</div>
<style>
	.icon-wrapper svg{
		height: 14px;
		width:14px;
		fill:var(--white-secondary);
		stroke: var(--white-secondary);
	}
</style>