---
const { } = Astro.props;
---
<header class="header">
    <nav>
        <ul>
            <li>
                <p class="nav-p">
                    Contacto
                </p>
            </li>
        </ul>
    </nav>
</header>

<style>
    .nav-p{
        font-weight: 500;
        color:var(--gray-primary)
    }
.header{ 
    
    z-index: 100;
    position:fixed}
</style>